# Nix
.direnv
result

# env
.env
.env.*.local
!.env.*.local.example

# VSCode
.vscode/settings.json

node_modules

# log
*.log
logs/

# dumps
dumps
dump.sql

# codegen
schema.graphql
src/resolvers/graphql.ts

# tsc
dist/

# ESLint
.eslintcache
.eslint-report.json

# GraphQL Schema Linter
.graphql-schema-linter-report.json
