.direnv

package-lock.json
pnpm-lock.yaml

dist/

# migrations
src/db/migrations/

# codegen
schema.graphql
src/resolvers/graphql.ts
src/resolvers/**/*.e2e.test.codegen.ts

# ESLint
.eslint-report.json

# GraphQL Schema Linter
.graphql-schema-linter-report.json
